<div class="donate">
  <div class="donate__left">
    <h2 class="donate__title">{{ .Params.donate.title }}</h2>
    <form action="">
      <div class="donate__donation-types">
        <label for="donation-type-1" class="donate__donation-type">
          <input checked type="radio" id="donation-type-1" name="donation-type" class="donate__donation-type-radio">
          <span class="donate__donation-type-checkbox"></span>
          <span class="donate__donation-type-label">One time donation</span>
        </label>
        <label for="donation-type-2" class="donate__donation-type">
          <input type="radio" id="donation-type-2" name="donation-type" class="donate__donation-type-radio">
          <span class="donate__donation-type-checkbox"></span>
          <span class="donate__donation-type-label">Monthly contribution</span>
        </label>
      </div>
      <div class="donate__donation-email js-input-placeholder">
        <label class="donate__donation-email-label" for="donation-email">Email</label>
        <input type="email" id="donation-email" name="donation-email" class="donate__donation-email-input js-input-placeholder__input">
      </div>
    </form>
  </div>
  <div class="donate__right">
  </div>
</div>