<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ $.Site.BaseURL }}">
    <title>
      {{ if eq .Kind "section" }}
        {{ if eq .Section "success-story" }}
          {{ if eq .Lang "en" }}
            Success Stories
          {{ else }}
            Historias de Éxito
          {{ end }}
        {{ end }}
        {{ if eq .Section "story" }}
          {{ if eq .Lang "en" }}
            Stories
          {{ else }}
            Historias
          {{ end }}
        {{ end }}
        {{ if eq .Section "participant" }}
          {{ if eq .Lang "en" }}
            Participants
          {{ else }}
            Participantes
          {{ end }}
        {{ end }}
        {{ if eq .Section "team" }}
          {{ if eq .Lang "en" }}
            Team Members
          {{ else }}
            Miembros del Equipo
          {{ end }}
        {{ end }}
      {{ else }}
        {{ .Title }}
      {{ end }}
      {{ if ne .IsHome true }}
        - {{ .Site.Title }}
      {{ end }}
    </title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,900|Open+Sans:400" rel="stylesheet">
    <link rel="icon" href="/img/Logo.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113329922-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-113329922-1');
    </script>
    
  </head>
  <body>
