{{ $.Scratch.Set "url" $.Site.Data.site.Masthead }}
{{ if (isset .Params "masthead_image") }}
  {{ $.Scratch.Set "url" .Params.masthead_image }}
{{ end }}
<div class="masthead" style='background-image: url({{ $.Scratch.Get "url" }});'>
  <div class="masthead__content">
    <h1 class="masthead__title">
      {{ if eq .Kind "section" }}
        {{ if eq .Section "success-story" }}
          {{ if eq .Lang "en" }}
            Success Stories
          {{ else }}
            Historias de Éxito
          {{ end }}
        {{ end }}
        {{ if eq .Section "story" }}
          {{ if eq .Lang "en" }}
            Stories
          {{ else }}
            Historias
          {{ end }}
        {{ end }}
        {{ if eq .Section "participant" }}
          {{ if eq .Lang "en" }}
            Participants
          {{ else }}
            Participantes
          {{ end }}
        {{ end }}
      {{ else }}
        {{ .Title }}
      {{ end }}
    </h1>
    {{ if .Params.subtitle }}
      <h2 class="masthead__subtitle">{{ .Params.subtitle }}</h2>
    {{ end }}
    {{ if .Params.call_to_action_button.label }}
      <a class="masthead__button" href="{{ .Params.call_to_action_button.link }}">{{ .Params.call_to_action_button.label }}</a>
    {{ end }}
  </div>
</div>