<div class="participants">
  <h2 class="participants__title">{{ i18n "Our Participants" }}</h2>
  <div class="participants__list">
    {{ range first 8 (sort (where .Site.Pages "Section" "participant") "Params.graduation_year" "desc") }}
      {{ .Render "teaser" }}
    {{ end }}
  </div>
  <a class="button" href='{{ "/participant" | relLangURL }}'>{{ i18n "find more participants" }}</a>
  <a class="button" href="/uploads/2019/01/26/VES-directory.pdf">{{ i18n "see participant directory" }}</a>
</div>
