<div class="program">
  <h2 class="program__header"><a class="program__header-link" href='{{ "/about#our-program" | relLangURL }}'>{{ i18n "Our Program" }}</a></h2>
  <div class="program__section">
    <div class="program__section-side">
      <h3 class="program__title">
        {{ .Params.program.item_1.title }}
      </h3>
      <p class="program__blurb">
        {{ .Params.program.item_1.blurb }}
      </p>
    </div>
    <div class="program__section-side">
      <h3 class="program__title">
        {{ .Params.program.item_2.title }}
      </h3>
      <p class="program__blurb">
        {{ .Params.program.item_2.blurb }}
      </p>
    </div>
  </div>
  <div class="program__section">
    <div class="program__section-side">
      <h3 class="program__title">
        {{ .Params.program.item_3.title }}
      </h3>
      <p class="program__blurb">
        {{ .Params.program.item_3.blurb }}
      </p>
    </div>
    <div class="program__section-side">
      <h3 class="program__title">
        {{ .Params.program.item_4.title }}
      </h3>
      <p class="program__blurb">
        {{ .Params.program.item_4.blurb }}
      </p>
    </div>
  </div>
</div>