<div class="sponsor">
  <h2 class="sponsor__title">{{ i18n "Our Sponsors" }}</h2>
  <div class="sponsor__list">
    {{ $pages := .Site.GetPage "page" "sponsor" }}
    {{ range $pages.Resources.ByType "page" }}
      <div class="sponsor__teaser">
        {{ if .Params.link }}
        <a class="sponsor__teaser-link" href="{{ .Params.link }}">
        {{ end }}
          <div class="lazy sponsor__teaser-image" data-src="{{ .Params.teaser_image }}"></div>
        {{ if .Params.link }}
        </a>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>