.blurb {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 2rem 1rem;
  line-height: 1.3;

  @media (min-width: 720px) {
    margin: 2rem auto;
    max-width: 560px;
  }

  @media (min-width: 960px) {
    max-width: 720px;
    font-size: 1.5rem;
  }
}

.blurb .button {
  font-size: 1rem;
  font-weight: 900;
}