.button {
  color: #fff;
  background-color: #569524;
  text-decoration: none;
  text-transform: lowercase;
  border-radius: 3px;
  padding: .5rem .75rem;

  &:hover,
  &:focus {
    background-color: #508921;
  }

  &:focus {
    text-decoration: underline;
  }
}