.donate {
  display: flex;
  flex-wrap: wrap-reverse;
}

.donate__left {
  flex: 1 1 100%;
  background: #6B4A20;
  color: #fff;

  @media (min-width: 840px) {
    flex: 1 1;
  }
}

.donate__right {
  flex: 1 1 100%;

  @media (min-width: 840px) {
    flex: 1 1;
  }
}

.donate .donate__title {
  margin-bottom: 1rem;
}

.donate__donation-type {
  position: relative;
  padding-left: 1rem;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  margin: 0 0 .5rem 1rem;

  & .donate__donation-type-radio:checked ~ .donate__donation-type-checkbox::after {
    opacity: 1;
  }
}

.donate__donation-type-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.donate__donation-type-checkbox {
  position: absolute;
  top: .3rem;
  left: 0;
  height: .75rem;
  width: .75rem;
  background-color: #eee;
  border-radius: 50%;

  &::after {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fe8300;
    opacity: 0;
    transition: opacity .3s ease;
  }
}

.donate__donation-email {
  position: relative;
  width: 50%;
  max-width: 350px;
  margin: 1rem auto;
}

.donate__donation-email-label {
  position: absolute;
  left: .5rem;
  top: .6rem;
  font-size: 1rem;
  font-weight: 400;
  color: #666;
  transition: top .3s ease, font-size .3s ease;
}

.js-input-placeholder--active .donate__donation-email-label {
  font-size: .7rem;
  top: .2rem;
}

.donate__donation-email-input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  padding: .9rem .5rem .25rem .5rem;
  background: #eee;
  color: #2b2b2b;
  border-radius: 3px;
  border: none;
}
