.footer {
  padding: .5rem 2rem;
  background-color: #569524;
  font-weight: 900;
}

.footer__link {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  line-height: 32px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.footer__social-link {
  text-decoration: none;
}

.footer__social {
  margin-right: .25rem;
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;

  &:visited {
    text-decoration: none;
  }
}

.footer__copyright {
  line-height: 32px;
  color: #fff;
  display: block;
  text-align: left;

  @media (min-width: 480px) {
    float: right;
    display: inline-block;
  }
}