.footer {
  padding: 1rem 2rem;
  background-color: #569524;
  font-weight: 900;
  font-size: .8rem;

  @media (min-width: 960px) {
    font-size: 1rem;
  }
}

.footer__link {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  line-height: 32px;
  font-size: 1rem;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.footer__social-link {
  text-decoration: none;
}

.footer__social {
  margin-right: .25rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;

  @media (min-width: 960px) {
    width: 24px;
    height: 24px;
  }

  &:visited {
    text-decoration: none;
  }
}

.footer__copyright {
  line-height: 1;
  color: #fff;
  display: block;
  text-align: left;
  margin: .5rem 0;

  @media (min-width: 720px) {
    margin: 0;
    line-height: 32px;
    float: right;
    display: inline-block;
  }
}