.masthead {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100%;

  @media (min-width: 560px) {
    padding-bottom: 56.25%;
  }
}

.masthead__content {
  z-index: 2;
  position: absolute;
  padding: 5rem 0 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 900;
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,1) 100%);
  color: #fff;

  @media (min-width: 720px) {
    padding: 5rem 0 2rem;
  }

  @media (min-width: 1280px) {
    padding: 5rem 0 3rem;
  }
}

.masthead__title {
  font-size: 2rem;
  margin: 0;

  @media (min-width: 720px) {
    font-size: 3rem;
  }

  @media (min-width: 960px) {
    font-size: 3.5rem;
  }

  @media (min-width: 1280px) {
    font-size: 4rem;
  }
}

.masthead__subtitle {
  font-size: .9rem;
  margin: 0 0 1rem 0;

  @media (min-width: 480px) {
    font-size: 1.25rem;
  }
  
  @media (min-width: 720px) {
    font-size: 1.75rem;
  }

  @media (min-width: 960px) {
    font-size: 2rem;
  }
}

.masthead__button {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  transition: background .3s ease, border .3s ease;
  padding: .5rem;
  font-size: .85rem;

  &:hover,
  &:focus {
    background-color: #62A929;
    border: 3px solid #62A929;
  }

  @media (min-width: 480px) {
    font-size: 1rem;
  }
}