.nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1rem 4rem;
  width: 100%;
  font-weight: 900;
  z-index: 1;
  background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(255,255,255,0) 100%);
  box-sizing: border-box;

  @media (min-width: 720px) {
    font-size: 1.1rem;
  }

  @media (min-width: 960px) {
    font-size: 1.25rem;
  }
}

.nav__content {
  max-width: 720px;
  margin: 0 auto;
}

.nav__logo {
  width: 32px;
  height: 32px;
}

.nav__links {
  float: right;
  display: none;

  @media (min-width: 720px) {
    display: block;
  }
}

.nav__link {
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
  transform: background .3s ease;
  padding: .25rem .5rem;
  line-height: 32px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background: #62A929;
    border-radius: 3px;
  }
}

.nav__socials {
  float: right;
  margin-left: 2rem;
  display: none;

  @media (min-width: 720px) {
    display: block;
  }
}

.nav__social {
  margin-right: .25rem;
  padding: 4px;
  width: 24px;
  height: 24px;

  &:hover,
  &:focus {
    background: #62A929;
    border-radius: 3px;
  }
}

.nav__social--facebook {
  background-image: url('/img/Facebook.png');
}

.nav__social--email {
  background-image: url('/img/Email.png');
}

.nav__flyout-open {
  float: right;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url('/img/Hamburger.png');
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border: none;

  @media (min-width: 720px) {
    display: none;
  }
}

.nav__flyout-close {
  float: right;
  width: 32px;
  height: 32px;
  margin: .5rem .5rem 0 0;
  display: inline-block;
  background-image: url('/img/Close.png');
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border: none;
}

.nav__flyout-links {
  margin-top: 3rem;
  clear: both;
}

.nav__flyout {
  position: absolute;
  font-weight: 900;
  right: 0;
  height: 100%;
  width: 80%;
  max-width: 278px;
  z-index: 3;
  background-color: #fff;
  border-left: 1px solid #eee;
  transition: transform .4s ease;
  transform: translateX(100%);
}

.nav__flyout--active {
  transform: translateX(0);
  
  @media (min-width: 720px) {
    transform: translateX(100%);
  }
}

.nav__flyout-link {
  display: block;
  padding: .5rem;
  color: #585454;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #62A929;
    color: #fff;
  }
}