.participants {
  max-width: 960px;
  margin: 8rem auto;
  font-size: 1rem;
}

h2.participants__title {
  margin: 2rem auto;
}

.participant__teaser {
  text-align: center;
  display: inline-block;
  flex: 100%;
  margin: 2rem 1rem;

  @media (min-width: 480px) {
    margin: 2rem 3rem;
  }

  @media (min-width: 760px) {
    margin: 2rem 3rem;
    flex: 4 4 25%;
  }
}

.participant__teaser-title {
  font-size: 1.2rem;
  margin: 1rem 0 .25rem 0;

  @media (min-width: 480px) {
    font-size: 1.25rem;
  }
}

.participant__teaser-business {
  color: #666;
  margin: .25rem 0;
}

.participant__teaser-phone {
  color: #666;
  margin: .25rem 0;
}

.participant__teaser-link {
  text-decoration: none;
  color: #585454;
}

.participant__teaser-image {
  position: relative;
  display: inline-block;
  width: 175px;
  height: 175px;
  background-size: cover;
  background-position: center;
  background-color: #eee;
  border-radius: 50%;
}

.participant__teaser-logo {
  position: absolute;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  bottom: 0;
  right: -25px;
  background-size: 65px 65px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  box-shadow: 0 0 30px 0 #000;
}

.participants .button {
  font-size: 1rem;
  margin-bottom: 1rem;
}