.participants {
  max-width: 960px;
  margin: 4rem auto;
}

.participant__teaser {
  text-align: center;
  display: inline-block;
  flex: 100%;
  margin: 2rem;

  @media (min-width: 480px) {
    margin: 2rem 3rem;
  }

  @media (min-width: 760px) {
    margin: 2rem 3rem;
    flex: 3;
  }
}

.participant__teaser-title {
  font-size: 1.25rem;
  margin: 1rem 0 .25rem 0;

  @media (min-width: 480px) {
    font-size: 1.5rem;
  }
}

.participant__teaser-business {
  margin: .25rem 0;
}

.participant__teaser-phone {
  margin: .25rem 0;
}

.participant__teaser-link {
  text-decoration: none;
  color: #585454;
}

.participant__teaser-image {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}