.sponsor {
  max-width: 960px;
  margin: 8rem auto;
}

h2.sponsor__title {
  margin: 0 auto;
}

.sponsor__teaser {
  text-align: center;
  display: inline-block;
  flex: 100%;
  margin: 2rem 1rem;

  @media (min-width: 480px) {
    margin: 2rem 3rem;
  }

  @media (min-width: 760px) {
    margin: 2rem 3rem;
    flex: 4 4 25%;
  }
}

.sponsor__teaser-link {
  text-decoration: none;
  color: #585454;
}

.sponsor__teaser-image {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;

  @media (min-width: 380px) {
    width: 128px;
    height: 128px;
  }
}