<div class="participant__teaser">
  {{ if .Params.url }}
  <a class="participant__teaser-link" href="{{ .Params.url }}">
  {{ end }}
    <div class="participant__teaser-image" style="background-image: url('{{ .Params.teaser_image }}');"></div>
    <h3 class="participant__teaser-title">{{ .Title }}</h3>
    <div class="participant__teaser-business">{{ .Params.brand_name }}</div>
    <div class="participant__teaser-phone">{{ .Params.phone_number }}</div>
  {{ if .Params.url }}
  </a>
  {{ end }}
</div>