<div class="participant__teaser">
  {{ if .Params.external_url }}
  <a class="participant__teaser-link" target="_blank" href="{{ .Params.external_url }}">
  {{ end }}
    <div class="lazy participant__teaser-image" data-src="{{ .Params.teaser_image }}">
      <div class="lazy participant__teaser-logo" data-src='{{ if and (ne .Params.teaser_logo "") (isset .Params "teaser_logo") }}{{ .Params.teaser_logo }}{{ else }}/img/Graduate.png{{ end }}'></div>
    </div>
    <h3 class="participant__teaser-title">{{ .Title }}</h3>
    <div class="participant__teaser-business">{{ .Params.brand_name }}</div>
    <div class="participant__teaser-phone">{{ .Params.phone_number }}</div>
  {{ if .Params.external_url }}
  </a>
  {{ end }}
</div>