{{ $teaser_logo := "/img/Graduate.png" }}
{{ if .Params.teaser_logo }}
  {{ $teaser_logo := .Params.teaser_logo }}
{{ end }}
<div class="participant__teaser">
  {{ if .Params.external_url }}
  <a class="participant__teaser-link" target="_blank" href="{{ .Params.external_url }}">
  {{ end }}
    <div class="participant__teaser-image" style="background-image: url('{{ .Params.teaser_image }}');">
      <div class="participant__teaser-logo" style="background-image: url('{{ $teaser_logo }}')"></div>
    </div>
    <h3 class="participant__teaser-title">{{ .Title }}</h3>
    <div class="participant__teaser-business">{{ .Params.brand_name }}</div>
    <div class="participant__teaser-phone">{{ .Params.phone_number }}</div>
  {{ if .Params.external_url }}
  </a>
  {{ end }}
</div>