{{ partial "header" . }}
{{ partial "nav" . }}
{{ partial "masthead" . }}
<main class="content" role="main">
  <p>
    {{ .Params.blurb.text }}
  </p>
  <a href="{{ .Params.blurb.button.url }}" class="button">
    {{ .Params.blurb.button.text }}
  </a>
  <div class="success-stories">
    <h2 class="success-stories__title">{{ .Params.success_stories.title }}</h2>
    <div class="success-stories__stories">
      {{ range where .Site.Pages.ByPublishDate "Section" "success-story" }}
        {{ if eq .Kind "page" }}
          {{ .Render "teaser" }}
        {{ end }}
      {{ end }}
    </div>
    <a class="button" href="/success-story">{{ .Params.success_stories.more_text }}</a>
  </div>
</main>
{{ partial "footer" . }}
